*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}
header {
	background-image: url(../img/top_bg.jpg);
	/* background-repeat: repeat-x; */
	background-repeat: no-repeat;
	background-position: top center;
	min-height: 644px;
	position: relative;
	font-family: "BebasRegular";
}
header a {
	color: #fff;
}
.top_line {
	min-height: 97px;
	box-shadow: rgba(255, 255, 255, .3) 0 0 0 1px;
	/* position: absolute; */
	/* top: 0; */
	width: 100%;
	background-color: rgba(0, 0, 0, .86);
	padding: 22px 0;
}
.top_line a {
	font-size: 21px;
	border-bottom: #fff dashed 1px;
	transition: all .25s;
}
.top_line a:hover {
	border-bottom: transparent 1px dashed;
}
.top_addr {
	padding-left: 50px;
	background-image: url(../img/markerMap.png);
	background-repeat: no-repeat;
	background-position: left top;
	font-family: "BebasBold";
	line-height: 26px;
}
.top_addr strong {
	color: #d12f22;
	display: block;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 32px;
	padding-top: 2px;
}
.top_line .logo {
	border-bottom: none;
	position: absolute;
	margin-top: -18px;
}
.top_line .logo:hover {
	border-bottom: none;
}
.logo_wrap {
	position: relative;
	width: 240px;
	margin: auto;
}
.ta_right {
	background-image: none;
	padding-left: 0;
	text-align: right;
}
.ta_right span {
	color: #fff;
}
header h1 {
	color: #fff;
	margin-top: 72px;
	text-align: center;
	font-size: 40px;
	text-shadow: rgba(0, 0, 0, .55) 0 3px;
}
.button {
	background-color: #d12f22;
	display: inline-block;
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	padding: 0 25px;
	vertical-align: middle;
	border-bottom: 4px solid #ac160a;
	color: #fff;
	font-family: 'BebasBold';
}
header .button {
	margin-right: 20px;
}
.st_button {
	line-height: 18px;
	padding-top: 7px;
	text-align: left;
	padding-left: 65px;
	background-image: url(../img/camera.png);
	background-repeat: no-repeat;
	background-position: 8px;
}
.buttons_top {
	position: absolute;
	width: 100%;
	bottom: 30px;
}
.button:hover {
	background-color: #dd584e;
}
.button:active {
	background-color: #8a1008;
}
.top_menu {
	height: 65px;
	background-color: #242424;
	box-shadow: rgba(255, 255, 255, .3) 0 0 0 1px;
	font-family: 'BebasRegular';
	text-transform: uppercase;
}
.top_menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.top_menu a {
	color: #fff;
	font-size: 20px;
	padding: 0 26px 0 55px;
	display: block;
	line-height: 62px;
	border-left: 1px solid #383838;

}
.top_menu li {
	float: left;
}
.top_menu li.active a,
.top_menu li:hover a {
	background-color: #050505;
}
.top_menu a:nth-child(1) {
	background-image: url(../img/link_icon1.png);
	background-repeat: no-repeat;
	background-position: 20px 16px;
}
.top_menu li:nth-child(2) a {
	background-image: url(../img/link_icon2.png);
	background-repeat: no-repeat;
	background-position: 20px 16px;
}
.top_menu li:nth-child(3) a {
	background-image: url(../img/link_icon3.png);
	background-repeat: no-repeat;
	background-position: 24px 19px;
}
.top_menu li:nth-child(4) a {
	background-image: url(../img/link_icon4.png);
	background-repeat: no-repeat;
	background-position: 18px 16px;
}
.top_menu li:nth-child(5) a {
	background-image: url(../img/link_icon5.png);
	background-repeat: no-repeat;
	background-position: 20px 18px;
}
.top_menu li:nth-child(6) a {
	background-image: url(../img/link_icon6.png);
	background-repeat: no-repeat;
	background-position: 20px 16px;
}
.waranty {
	color: #fff;
	float: right;
	font-size: 15px;
	border: 3px solid #fff;
	padding: 3px 5px;
	cursor: default;
	line-height: 16px;
	margin-top: 10px;
}
.w_left span {
	font-size: 34px;
	margin-right: 4px;
}
.w_left {
	font-family: 'BebasBold';
	font-size: 20px;
	margin-top: 13px;
	margin-right: 5px;
}
.w_left,
.w_right {
	display: inline-block;
	vertical-align: top;
}
.w_right {
	font-family: 'RobotoCondensedRegular';
}
.main_cats {
	background-color: #191919;
	padding: 30px 0 40px;
}
.main_cats h2,
.art_header {
	text-transform: uppercase;
	color: #c9c9c9;
	font-family: 'BebasRegular';
	font-size: 40px;
	text-align: center;
}
.main_cats h2 strong {
	color: #fff;
}
.main_cats h2 span {
	color: #d12f22;
}
section h2,
article h2 {
	position: relative;
}
.s_black h2::before {
	content: '';
	position: absolute;
	width: 50px;
	height: 20px;
	background-image: url(../img/poloska.png);
	top: 14px;
	margin-left: -70px;
}
.s_black h2::after {
	content: '';
	position: absolute;
	width: 50px;
	height: 20px;
	background-image: url(../img/poloska.png);
	background-position: -50px 0;
	top: 14px;
	margin-left: 20px;
}
.mc_item {
	border: 1px solid #353535;
	border-radius: 2px;
}
.mc_item a:hover h4,
.mc_item_wrap.active h4 {
	text-decoration: underline;
	
}
.mc_item_wrap.active,
.mc_item_wrap:hover {
	background-color: #2a2a2a;
}
.mc_item_wrap {
	margin-left: 30px;
	width: 160px;
	display: inline-block;
	text-align: center;

}
.mc_item_wrap_af {
	content: '';
	width: 18px;
	height: 9px;
	background-image: url(../img/mc_child_arr.png);
	position: absolute;
	margin: 16px 71px;
	display: none;
}
.mc_item_wrap:nth-child(1) {
	margin-left: 0;
}
body .mc_wrap .mc_item_wrap ul {
	position: absolute;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 15px 0;
	list-style-type: none;
	font-size: 20px;
	background-color: #353535;
	margin-top: 25px;
	z-index: 10;
	display: none;
	left: 0;
}
.mc_item_wrap.active ul li {
	display: inline-block;
	font-family: 'BebasRegular'
}
.mc_item_wrap.active ul li a {
	padding: 0 5px;
	text-decoration: underline;
}
.mc_item_wrap.active ul li a:hover {
	text-decoration: none;
}
.mc_toggle {
	background-color: #212121;
	height: 25px;
	position: relative;
	cursor: pointer;
	background-image: url(../img/mc_ar.png);
	background-repeat: no-repeat;
	background-position: 76px 7px;
}
.mc_item_wrap.active .mc_toggle,
.mc_item_wrap:hover .mc_toggle {
	background-color: #353535;
	background-position: -124px 8px;
}
.mc_wrap {
	text-align: center;
	padding: 0;
	position: relative;
}
.mc_item_wrap a {
	color: #fff;
}
.mc_item h4 {
	font-family: 'BebasRegular';
	font-weight: normal;
	font-size: 20px;
	margin-top: -10px;
	margin-bottom: 5px;
}
.mc_item span {
	display: block;
	height: 85px;
	width: 130px;
	background-image: url(../img/icon_set.png);
	margin: 15px auto 10px;
}
.mc_item_wrap:nth-child(1) span {
	background-position: 10px 0;
}
.mc_item_wrap:nth-child(2) span {
	background-position: -110px 0;
}
.mc_item_wrap:nth-child(3) span {
	background-position: -238px 0;
}
.mc_item_wrap:nth-child(4) span {
	background-position: -353px 0;
}
.mc_item_wrap:nth-child(5) span {
	background-position: -475px 0;
}
.mc_item_wrap:nth-child(6) span {
	background-position: -589px 0;
}
.mc_button_w {
	text-align: center;
	margin-top: 30px;
}
.art_header {
	color: #050505;
	margin-bottom: 10px;
}
article.content {
	background-color: #e9e9e9;
}
article h2.art_header::before {
	content: '';
	position: absolute;
	width: 50px;
	height: 20px;
	background-image: url(../img/art_img.png);
	top: 14px;
	margin-left: -70px;
}
article h2.art_header::after {
	content: '';
	position: absolute;
	width: 50px;
	height: 20px;
	background-image: url(../img/art_img.png);
	background-position: -50px 0;
	top: 14px;
	margin-left: 20px;
}
p.h_descr {
	max-width: 790px;
	font-family: 'RobotoRegular';
	text-align: center;
	margin: auto;
	color: #050505;
}
.home_items {
	background-color: #d6d6d6;
	padding: 50px 0;
	margin-top: 40px;
}
.hi_item {
	color: #050505;
	text-align: center;
	font-size: 14px;
	margin-bottom: 50px;
}
.hi_item img {
	max-width: 100%;
	border-top: 8px solid #ac160a;
}
.s_bottom img {
	max-width: 90%;
	position: absolute;
	bottom: 0;
}
.s_bottom {
	padding-top: 32px;
}
.sb_header {
	line-height: 50px;

}
.sb_header h2 {
	margin: 0;
	text-transform: uppercase;
	font-family: 'BebasRegular';
	font-size: 36px;
}
.sb_content {
	margin-top: 30px;
}
.sb_header.button_cont {
	text-align: right;
}
footer {
	background-color: #2a2a2a;
	color: #fff;
	padding: 28px 0 35px;
	font-family: 'BebasBold';
	font-size: 20px;
}
footer a {
	color: #fff;
	padding: 0 10px;
	text-decoration: underline;
}
footer a:hover {
	text-decoration: none;
}
footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
footer li {
	float: left;
}